@import 'https://unpkg.com/open-props';
@import 'https://unpkg.com/open-props/normalize.min.css';
@import 'https://unpkg.com/open-props/buttons.min.css';

.loader {
  text-align: center;
  max-inline-size: 100vw;
}

.suspense {
  border: none;
  transform: scale(0);
  opacity: 0;
}

* {
  transition: all 0.5s;
}
